@model IEnumerable<OnlineVotingSystem.Models.Entity.Voter>

@{
    Layout = "_DashboardLayoutAdmin";
    ViewData["pageTitle"] = "Index";
}

@if(ViewBag.voters.Count == 0)
{
    <p>No Voter Yet</p>
}

<p>
    <a asp-action="Register">Register New Voter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name 
            </th>
            <th>
               Middle Name 
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var voter in ViewBag.voters)
         {
            <tr>
                <td>
                     @(voter.FirstName)
                </td>
                <td>
                    @(voter.LastName)
                </td>
                <td>
                    @(voter.MiddleName)
                </td>
                <td>
                    @(voter.Email)
                </td>
                <td>
                    @(voter.PhoneNumber)
                </td>
                <td>
                    @(voter.Address)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@voter.CardNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@voter.CardNumber">Delete</a>
                 </td>
            </tr>
         }
    </tbody>
</table>
