@model IEnumerable<OnlineVotingSystem.Models.Entity.Admin>

@{
    Layout = "_DashboardLayoutAdmin";
    ViewData["pageTitle"] = "Index";
}

@if(ViewBag.admins.Count == 0)
{
    <p>No Admin yet</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Address
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in ViewBag.admins)
        {
            <tr>
                <td>
                    @(admin.FirstName)
                </td>
                <td>
                    @(admin.LastName)
                </td>
                <td>
                    @(admin.MiddleName)
                </td>
                <td>
                    @(admin.Email)
                </td>
                <td>
                    @(admin.PhoneNumber)
                </td>
                <td>
                    @(admin.Address)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@admin.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@admin.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@admin.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
